<!DOCTYPE html>
<html>
<head>
	<title>Voting App</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="container">
	      <header class="header clearfix">
	        <nav class="navbar navbar-expand-sm">
	          <h3 class="text-muted navbar-brand">Voting App</h3>
	          <div class="collapse navbar-collapse" id="navbarSupportedContent">
		          <ul class="navbar-nav ml-auto">
					{{#if user}}
		            <li class="nav-item">
		              <a class="nav-link" href="/">Polls</a>
		            </li>
					{{/if}}

		            {{#unless user}}
		            <li class="nav-item">
		              <a class="nav-link" href="/users/login">Login</a>
		            </li>
		            <li class="nav-item">
		              <a class="nav-link" href="/users/register">Register</a>
		            </li>
		            {{/unless}}

		            {{#if user}}
		            <li class="nav-item dropdown">
		              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</a>
		              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		              	<a href="/polls/user" class="dropdown-item">My Polls</a>
		              	<a href="/polls/new" class="dropdown-item">New Poll</a>
		              	<div class="dropdown-divider"></div>
		              	<a href="/users/logout" class="dropdown-item text-danger">Logout</a>
		              </div>
		            </li>
		            {{/if}}
		          </ul>
		        </div>  
	        </nav>
	      </header>

	      <main role="main">
	        <div class="row">
	          <div class="col">
	          	{{#if success_msg}}
					<div class="alert alert-success" role="alert">{{success_msg}}</div>
	          	{{/if}}

	          	{{#if warning_msg}}
	          		<div class="alert alert-warning" role="alert">{{warning_msg}}</div>
	          	{{/if}}

				{{#if error_msg}}
					<div class="alert alert-danger" role="alert">{{error_msg}}</div>
	          	{{/if}}

				{{#if error}}
					<div class="alert alert-danger" role="alert">{{error}}</div>
	          	{{/if}}

	          	{{{body}}}
	          </div>
	        </div>
	      </main>

	      <footer class="footer">
	        <p>&copy; Login App 2017</p>
	      </footer>

	</div> <!-- /container -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
	<script src="/js/jquery.js"></script>
	<script src="/js/popper-utils.js"></script>
	<script src="/js/popper.js"></script>
	<script src="/js/tooltip.js"></script>
	<script src="/js/bootstrap.js"></script>
	{{#if script}}
	<script src={{script}}></script>
	{{/if}}
</body>
</html>